.Button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 20px; 
}

.default {
  background: #19191b;

  a {
    color: #fff
  }
}

.success {
  background: rgb(14, 219, 14);
}

.danger {
  background: rgb(219, 189, 14);
  color: #000;

  a {
    color: #000;
  }
}

.warning {
  background: rgb(219, 14, 41);
}